Repository astropy/regions, pull requests merged in 2021-05, with the labels that each got.

#345 Fix numpy deprecations
  regions/_geometry/pnpoly.pyx
  regions/core/compound.py
Labels: no-changelog-entry-needed

#346 Fix RegionMask fill_value issues
  CHANGES.rst
  regions/core/mask.py
  regions/core/tests/test_mask.py
Labels: bug, core

#347 Raise error in BoundingBox slices if ixmin or iymin is negative
  CHANGES.rst
  regions/core/bounding_box.py
  regions/core/tests/test_bounding_box.py
  regions/core/tests/test_compound.py
  regions/core/tests/test_pixcoord.py
Labels: bug, core

#348 Add get_overlap_slices method to BoundingBox
  CHANGES.rst
  regions/core/bounding_box.py
  regions/core/tests/test_bounding_box.py
Labels: core, enhancement

#349 Fix FITS writer default overwrite value and docstring
  regions/io/fits/write.py
Labels: docs, io, no-changelog-entry-needed

#350 Refactor/cleanup RegionMask
  CHANGES.rst
  regions/core/mask.py
  regions/core/tests/test_bounding_box.py
  regions/core/tests/test_mask.py
Labels: core, enhancement, refactoring

#351 Add get_values method to RegionMask
  CHANGES.rst
  regions/core/mask.py
  regions/core/tests/test_mask.py
Labels: core, enhancement

#353 Return an empty array for no aperture overlap
  CHANGES.rst
  regions/core/mask.py
  regions/core/tests/test_mask.py
Labels: core

#354 Fix and cleanup docstrings
  regions/_utils/examples.py
  regions/_utils/wcs_helpers.py
  regions/core/__init__.py
  regions/core/attributes.py
  regions/core/bounding_box.py
  regions/core/compound.py
  regions/core/core.py
  regions/core/pixcoord.py
  regions/io/connect.py
  regions/io/core.py
  regions/io/crtf/connect.py
  regions/io/crtf/core.py
  regions/io/crtf/read.py
  regions/io/crtf/write.py
  regions/io/ds9/connect.py
  regions/io/ds9/core.py
  regions/io/ds9/read.py
  regions/io/ds9/write.py
  regions/io/fits/connect.py
  regions/io/fits/core.py
  regions/io/fits/read.py
  regions/io/fits/write.py
  regions/shapes/__init__.py
  regions/shapes/annulus.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  regions/shapes/text.py
  regions/tests/helpers.py
Labels: docs, no-changelog-entry-needed

#355 Fix broken links to astropy developer docs
  docs/index.rst
Labels: docs, no-changelog-entry-needed

#357 Update code to use f-strings
  dev/regions_parse.py
  dev/regions_pyregion_comparison.py
  docs/conf.py
  docs/crtf.rst
  docs/ds9.rst
  docs/fits_region.rst
  regions/core/attributes.py
  regions/core/bounding_box.py
  regions/core/core.py
  regions/core/pixcoord.py
  regions/io/core.py
  regions/io/crtf/read.py
  regions/io/ds9/read.py
  regions/io/ds9/tests/test_ds9_language.py
  regions/io/fits/read.py
  regions/io/fits/tests/test_fits_region.py
  regions/io/tests/test_shape_object.py
  regions/shapes/tests/test_annulus.py
  regions/shapes/tests/test_circle.py
  regions/shapes/tests/test_common.py
  regions/shapes/tests/test_ellipse.py
  regions/shapes/tests/test_line.py
  regions/shapes/tests/test_point.py
  regions/shapes/tests/test_polygon.py
  regions/shapes/tests/test_rectangle.py
  regions/shapes/tests/test_text.py
Labels: no-changelog-entry-needed, refactoring

#237 Allow for mixed-case data in ds9 strings
  CHANGES.rst
  regions/io/ds9/read.py
  regions/io/ds9/tests/test_ds9_language.py
Labels: bug

#358 Remove build_docs from Azure pipelines
  azure-pipelines.yml
Labels: docs, no-changelog-entry-needed, testing

#240 Do not check for end of line after CRTF version number
  CHANGES.rst
  regions/io/crtf/read.py
  regions/io/crtf/tests/test_crtf_language.py
Labels: crtf

#272 Minor improvements to mask docs
  docs/masks.rst
Labels: docs, no-changelog-entry-needed

#359 Relax restriction on CRTF polygons
  CHANGES.rst
  regions/io/crtf/read.py
  regions/io/crtf/tests/test_crtf_language.py
Labels: bug, io

#360 DOC: Update license
  LICENSE.rst
Labels: docs, no-changelog-entry-needed

#361 Add nicer error message for scalar PixCoord
  regions/core/pixcoord.py
Labels: core, no-changelog-entry-needed

#362 CRTF poly needs at least 3 coordinates
  CHANGES.rst
  regions/io/crtf/read.py
  regions/io/crtf/tests/test_crtf_language.py
Labels: affects-dev, bug, crtf

#363 Fix ellipse mask for ellipse with zero height and/or width
  CHANGES.rst
  regions/shapes/ellipse.py
  regions/shapes/tests/test_ellipse.py
Labels: shapes

#364 Fix crtf parser
  CHANGES.rst
  regions/io/crtf/read.py
  regions/io/crtf/tests/test_crtf_language.py
Labels: bug, crtf, io

#366 Fix PointPixelRegion plotting
  CHANGES.rst
  regions/core/core.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  regions/shapes/text.py
Labels: bug, shapes

#367 Skip doctests that write files
  .gitignore
  docs/crtf.rst
  docs/ds9.rst
  docs/fits_region.rst
  docs/unified.rst
Labels: docs, no-changelog-entry-needed

#368 Update wcs_helpers to use unified WCS API
  docs/shapes.rst
  docs/unified.rst
  regions/_utils/wcs_helpers.py
  regions/shapes/annulus.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/rectangle.py
Labels: no-changelog-entry-needed, utils

#369 Various updates to the package setup and configuration
  .bandit.yaml
  .readthedocs.yml
  MANIFEST.in
  README.rst
  docs/conf.py
  regions/__init__.py
  regions/conftest.py
  regions/io/ds9/tests/data/plot_image.reg
  requirements.txt
  setup.cfg
  setup.py
  tox.ini
Labels: infrastructure, no-changelog-entry-needed

#370 Turn on Sphinx nitpicky mode
  CHANGES.rst
  docs/conf.py
  docs/fits_region.rst
  docs/masks.rst
  docs/shapes.rst
  regions/core/bounding_box.py
  regions/core/mask.py
Labels: docs, no-changelog-entry-needed

#371 Move metadata classes to new module
  CHANGES.rst
  regions/core/__init__.py
  regions/core/attributes.py
  regions/core/compound.py
  regions/core/core.py
  regions/core/metadata.py
  regions/core/pixcoord.py
  regions/io/core.py
  regions/io/ds9/tests/data/fk5_reference.reg
  regions/io/ds9/tests/data/fk5_strip_reference.reg
  regions/io/ds9/tests/data/galactic_reference.reg
  regions/io/ds9/tests/data/galactic_strip_reference.reg
  regions/io/ds9/tests/data/physical_reference.reg
  regions/io/ds9/tests/data/physical_strip_reference.reg
  regions/shapes/annulus.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
Labels: API, bug, core, ds9

#373 More code clean up
  dev/regions_parse.py
  dev/regions_pyregion_comparison.py
  docs/crtf.rst
  docs/ds9.rst
  docs/masks.rst
  docs/plot_compound.py
  docs/plot_example.py
  docs/plot_reg.py
  docs/plotting.rst
  docs/shapely.rst
  regions/conftest.py
  regions/core/bounding_box.py
  regions/core/mask.py
  regions/io/__init__.py
  regions/io/connect.py
  regions/io/core.py
  regions/io/crtf/__init__.py
  regions/io/crtf/connect.py
  regions/io/crtf/read.py
  regions/io/crtf/tests/test_crtf.py
  regions/io/ds9/__init__.py
  regions/io/ds9/connect.py
  regions/io/ds9/read.py
  regions/io/ds9/tests/test_ds9.py
  regions/io/fits/__init__.py
  regions/io/fits/connect.py
  regions/io/fits/read.py
  regions/io/fits/tests/test_fits_region.py
  regions/io/tests/test_core.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  setup.cfg
Labels: core, docs, io, no-changelog-entry-needed, testing
