Repository astropy/regions, pull requests merged in 2022-02, with the labels that each got.

#392 Let `as_mpl_selector` forward **kwargs to `*Selector`
  docs/masks.rst
  regions/shapes/ellipse.py
  regions/shapes/rectangle.py
  regions/shapes/tests/test_circle.py
  regions/shapes/tests/test_ellipse.py
  regions/shapes/tests/test_line.py
  regions/shapes/tests/test_point.py
  regions/shapes/tests/test_polygon.py
  regions/shapes/tests/test_rectangle.py
  regions/shapes/tests/utils.py
  regions/shapes/utils.py
Labels: visual_editing, Ready-for-final-review

#421 Add the ability to compare Region objects
  CHANGES.rst
  regions/core/core.py
  regions/shapes/tests/test_annulus.py
  regions/shapes/tests/test_circle.py
  regions/shapes/tests/test_ellipse.py
  regions/shapes/tests/test_line.py
  regions/shapes/tests/test_point.py
  regions/shapes/tests/test_polygon.py
  regions/shapes/tests/test_rectangle.py
  regions/shapes/tests/test_text.py
Labels: enhancement, core

#424 Make converted region meta and visual data be copies and not views
  CHANGES.rst
  regions/core/compound.py
  regions/core/metadata.py
  regions/core/tests/test_metadata.py
  regions/shapes/annulus.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  regions/shapes/tests/test_annulus.py
  regions/shapes/tests/test_circle.py
  regions/shapes/tests/test_ellipse.py
  regions/shapes/tests/test_line.py
  regions/shapes/tests/test_point.py
  regions/shapes/tests/test_polygon.py
  regions/shapes/tests/test_rectangle.py
  regions/shapes/tests/test_text.py
  regions/shapes/text.py
Labels: bug, shapes, affects-dev, metadata

#425 Fix annulus regions
  CHANGES.rst
  regions/shapes/annulus.py
  regions/shapes/tests/test_annulus.py
Labels: bug, shapes

#427 Rename BoundingBox to RegionBoundingBox
  CHANGES.rst
  docs/masks.rst
  regions/core/bounding_box.py
  regions/core/mask.py
  regions/core/tests/test_bounding_box.py
  regions/core/tests/test_compound.py
  regions/core/tests/test_mask.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  regions/shapes/tests/test_polygon.py
Labels: API, core

#429 Fix repr/str for Text Regions
  CHANGES.rst
  regions/core/core.py
  regions/shapes/tests/test_text.py
Labels: bug, shapes

#430 Require radius, width, and height parameters to be strictly positive (> 0)
  CHANGES.rst
  regions/core/attributes.py
  regions/core/tests/test_compound.py
  regions/shapes/annulus.py
  regions/shapes/circle.py
  regions/shapes/ellipse.py
  regions/shapes/line.py
  regions/shapes/point.py
  regions/shapes/polygon.py
  regions/shapes/rectangle.py
  regions/shapes/tests/test_api.py
  regions/shapes/tests/test_circle.py
  regions/shapes/tests/test_ellipse.py
Labels: API, shapes
