Repository astropy/regions, pull requests merged in 2023-03, with the labels that each got.

#499 MNT: Fix tox >= 4 compatibility
  .github/workflows/ci_tests.yml
  .github/workflows/cron_tests.yml
  tox.ini
Labels: testing

#501 DOC: API should be somewhat stable by now
  docs/index.rst
Labels: docs

#500 DOC: PolygonPixelRegion has no as_mpl_selector
  docs/shapes.rst
Labels: bug, docs
