Repository astropy/regions, pull requests merged in 2025-02, with the labels that each got.

#587 MNT: Replace ubuntu-20.04 with ubuntu-22.04
  .github/workflows/ci_cron_weekly.yml
Labels: testing, Arch CI

#589 Use the free ARM64 test runner and update workflows
  .github/workflows/ci_cron_daily.yml
  .github/workflows/ci_cron_weekly.yml
  .github/workflows/ci_tests.yml
  .github/workflows/publish.yml
Labels: testing, no-changelog-entry-needed, Daily CI

#590 The PR updates redirected URLs and fixes the Sphinx warning
  CHANGES.rst
  docs/contributing.rst
  regions/core/metadata.py
Labels: testing, docs, no-changelog-entry-needed, Daily CI
